@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Varela+Round&display=swap');@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    text-align: center;
    font-family: Montserrat, sans-serif;
    background-color: rgb(57, 255, 205);
    font-weight: 600;
    color: #fff;
}